{% extends 'base.html.twig' %}

{% block title %}Perikles{% endblock %}

{% block body %}
    <h1>Perikles Abstimmungssystem</h1>

    <p>
        Willkommen beim Perikles-Abstimmungssystem.
    </p>
{% endblock %}
