{% extends 'base.html.twig' %}

{% block title %}SecureVote{% endblock %}

{% block body %}
    <h1>SecureVote Abstimmungssystem</h1>

    <p>
        Willkommen beim SecureVote-Abstimmungssystem.
    </p>
{% endblock %}
