{% if poll.started and poll.stopped %}
    <span class="badge badge-pill badge-danger">beendet</span>
{% elseif poll.started and not poll.stopped %}
    <span class="badge badge-pill badge-success">läuft</span>
{% elseif not poll.started %}
    <span class="badge badge-pill badge-secondary">noch nicht gestartet</span>
{% endif %}
