{% extends 'base.html.twig' %}

{% block title %}Ungültiger Link{% endblock %}

{% block body %}
    <h1>Ungültige Wahlberechtigung</h1>

    <p>
        Der Teilnahmelink, den du aufgerufen hast, ist ungültig. Das kann daran liegen, dass die
        Abstimmung bereits beendet wurde, oder dass du deine Stimme bereits abgegeben hast.
    </p>
{% endblock %}
