{% extends 'base.html.twig' %}

{% block title %}Ung端ltiger Link{% endblock %}

{% block body %}
    <h1>Ung端ltige Abstimmung</h1>

    <p>
        Der Ergebnislink, den du aufgerufen hast, ist ung端ltig. Wahrscheinlich wurde die Abstimmung noch
        nicht beendet. Du kannst das Ergebnis erst sehen, wenn die Abstimmung vor端ber ist.
    </p>
{% endblock %}
