{% extends 'base.html.twig' %}

{% block title %}Danke für deine Stimme!{% endblock %}

{% block body %}
    <h1>Danke für deine Stimme!</h1>

    <p>
        Vielen Dank, dass du an dieser Abstimmung teilgenommen hast. Wenn die Abstimmung beendet ist, wirst du
        über das Ergebnis per E-Mail informiert.
    </p>
{% endblock %}
