{% extends 'base.html.twig' %}

{% block title %}Benutzer bearbeiten{% endblock %}

{% block body %}
    <h1>Benutzer bearbeiten</h1>

    {{ include('user/_form.html.twig', {'button_label': 'Speichern'}) }}

    <a href="{{ path('user_index') }}">Zurück zur Übersicht</a>

    {% if user.id != app.user.id %}
        {{ include('user/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
